
 <body>
    <div class="banner">
      <div class="header">
        Samaya
      </div>
      <h1 class="banner-head">
        Powerful<br />
        Video Analysis <br />
      </h1>
      <div class="banner-subhead">
          <h6>Identify objects and scenes specific to your business needs.</h6>
      </div>
    </div>

    <div class="l-content">
<div class="container">
	

	<iframe width="560" height="315" 
		src="https://www.youtube.com/embed/WTeqUejf3D0{{param}}" frameborder="0" 
		allow="accelerometer; encrypted-media; 
		gyroscope; 
		picture-in-picture" 
		allowfullscreen>
	</iframe>


	<form id="tag-form">
		<div class="form-group">
			<label for="title">Tag Name</label>
			<input placeholder="" type="text" class="form-control" id="tagname">
			<br />
			<label for="title">Start Time</label>
			<input placeholder="" type="text" class="form-control" id="starttime">
			<br />
			<label for="title">End Time</label>
			<input placeholder="" type="text" class="form-control" id="endtime">
			<br />
			<button type="ADD" class="btn btn-success submit">Submit</button>
		</div>
	</form>


	<div class = "col-md-3 offset-md-3"> 
		{{#each tag}}
		<button type="button" class="tagButton btn btn-primary" id={{tagName}}>{{tagName}} </button>
		{{/each}}	
	</div>


	<p>{{startTime}}</p>
	<p>{{endTime}}</p>


	
</div>

        <div class="pure-u-1 pure-u-md-1-2">
          <div class="l-box">
            
           
          </div>
        </div>

      </div>
      <!-- end information -->
    </div>
    <!-- end l-content -->

    <div class="footer l-box">
      <h5>Created by Aaron, Austin, Jessica, and John</h5>
    </div>
  </body>
</html>